.selector-for-some-widget {
    box-sizing: content-box;
  }
  body, html {
    height: 100%;
    margin: 0;
}

.about-section {
    padding-top: 10rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
  }
  
  .about-section p {
    margin-bottom: 5rem;
  }

  .projects-section {
    padding: 10rem 0;
  }
  
  .projects-section .featured-text {
    padding: 2rem;
  }
  
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid black;
    }
  }
  
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #64a19d;
      border-width: .25rem;
      width: 30%;
    }
  }
  .signup-section {
    padding: 10rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/signup.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .signup-section .form-inline input {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }
.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}







#nav-section, header {
    border: white;
    background: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', 'serif';
padding: 5px;
margin-top: 5px;
margin-bottom: 10px;
border-block-start-width: 20px;
}


h1 {
    position: ab;
    left: 0;
    top: 0;
    width: 100;
    border: #777777;
    padding: 20px 0;
    margin-top: 5px;
    font-size: 28px;
    float: absolute;
    background-color: white;
    color: black;
    text-align: left;
}

h2 {
    font-size: 24px;
    color: #4aaaa5;
}

a {
    color: #d21034;
}
input[type=submit] {
    background-color: #45a049;
}

.container {
    border: #dddddd;
    background: #ffffff;
    margin: 0 auto;
}

#bio-image {
    width:200px;
    height: 200px;
    margin-right: 20px;
    float: bottom;
    margin: 0%
}
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image1.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  

#bio-image1{
    float: left;
    width:200px;
    height: 200px;
    right: 20px;
    border-radius: 50%;
 }
 #bio-image2{
    float: left;
    width:200px;
    height: 200px;
    right: 20px;
 }
 #bio-image3{
    float: left;
    width:200px;
    height: 200px;
    margin-right: 20px;
 }
 #bio-image4{
    float: left;;
    width:200px;
    height: 200px;
    margin-right: 20px;
}
#bio-image5{
    float: initial;
    width:200px;
    height: 200px;
    margin-right: 20px;
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: #ffffff;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    color: #777777;
    text-align: center;
    font-family:'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: gray;
    color: white;
}

#submit {
    color: #4aaaa5;
}

h3{
    padding: 3px 0;
    margin: 0;
    background-color: #4aaaa5;
}

footer {
    padding: 20px 0;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    background: black;
}

/* Large devices (laptops/desktops, 980px) */

@media only screen and (max-width: 980px) {}


/* Medium devices (landscape tablets, 768px) */

@media only screen and (max-width: 768px) {}


/* Small devices (portrait tablets and large phones, 640px) */

@media only screen and (max-width: 640px) {
    header {
        position: relative;
    }
}
